.logo{
    height:104px;
}
.m-center{
    width:fit-content;
    margin: 0 auto;
}
.nav{
    background: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    display:flex;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 0 6px;
    z-index: 1;
    top: 0;
}
.sec-nav{
    background: white;
    align-items: center;
    justify-content: space-between;
    display:flex;
    text-decoration: none;
    color: black;
    width: 100%;
    margin: 100px 0 0 0;  
}
.sec-nav a{
    text-decoration: none;
    color: black;
}